html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

body .mont-font {
  font-family: 'Montserrat', sans-serif;
}

body #splash-screen {
  background-image: url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0OTEzNjd8MHwxfHNlYXJjaHwxMHx8Z2FyZGVuX2Rlc2lnbnxlbnwwfHx8fDE2OTI3MTIwMTR8MA&ixlib=rb-4.0.3&q=80&w=1080');
  animation: animateSplash 5s ease-out;
}

div#navigation-div, main {
  animation: fadeElements 5s ease-out;
}

div.giard-splash-logo {
  animation: animateGiardLogo 5s ease-out;
}

body .hero-div {
  background-image: url(../images/sect-1-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .firm-block {
  background-image: url(../images/firm-sect-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body .layout-separator::before {
  content: ""; /* Create a pseudo-element to hold the overlay */
  position: absolute; /* Position the pseudo-element over the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: var(--before-background, linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%));
  pointer-events: none;
}

body .project-image-div {
  background-image: url(https://images.unsplash.com/photo-1624190011779-081f7cd23eae?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0OTEzNjd8MHwxfHNlYXJjaHwyfHxnYXJkZW5zfGVufDB8fHx8MTY5MjY1MTc0Mnww&ixlib=rb-4.0.3&q=80&w=1080);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.animated {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateSplash {
  0% {
    opacity: 90%;
    scale: 1.4
  }

  20% {
    opacity: 85%;
    scale: 1.2
  }

  40% {
    opacity: 80%;
    scale: 1.4
  }

  60% {
    opacity: 60%;
    scale: 1.2
  }

  80% {
    opacity: 20%;
    scale: 1.4
  }

  100% {
    opacity: 0%;
    scale: 1
  }

}

@keyframes animateGiardLogo {
  0% {
    scale: 1.4
  }

  20% {
    scale: 1.2
  }

  40% {
    scale: 1.4
  }

  60% {
    scale: 1.2
  }

  80% {
    scale: 1.4
  }

  100% {
    scale: 1
  }
}

@keyframes fadeElements {
  0% {
    opacity: 0%
  }

  20% {
    opacity: 20%
  }

  40% {
    opacity: 25%
  }

  60% {
    opacity: 40%
  }

  80% {
    opacity: 70%
  }

  100% {
    opacity: 100%
  }
}
